*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  background-color: #3b3b3b;
  color: #f2f2f2;
  min-height: 100vh;

}

header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
  position: relative;
}
